.btn{
    display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	text-align: center;
	vertical-align: middle;
	outline: none;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: none;
	text-decoration: none !important;
	white-space: nowrap;
	user-select: none;
    appearance: none;
	transition: all ease-out .2s;

	font-size: 1.6rem;
	padding: 0 1rem;
	border-radius: 1.5rem;
	font-weight: 400;
	height: 5rem;
	color: #E8E8E8;

    &:hover, &:focus, &:active{
		outline: none;
		text-decoration: none;
	}
	&:disabled, &.disabled{
		cursor: not-allowed;
	}

	&--black{
		background: #221F20;
		@media (hover: hover) {
			&:hover{
				background: #454344;
			}
		}
		&:disabled, &.disabled{
			background: #CACACA;
		}
		@media (hover: none) {
			&:active{
				background: #454344;
			}
			&:disabled:active, &.disabled:active{
				background: #CACACA;
			}
		}
	}

	&--line{
		border: 1px solid #221F20;
		border-radius: 1.5rem;
		color: #221F20;
		background: transparent;
		@media (hover: hover) {
			&:hover{
				background: #F5F5F7;
			}
		}
		@media (hover: none) {
			&:active{
				background: #F5F5F7;
			}
		}
	}

	&--tg{
		position: relative;
		background: #0088CC;
		&:after{
			content: "";
			position: absolute;
			top: .4rem; bottom: .4rem;
			left: .4rem; right: .4rem;
			border: 1px solid rgba(255,255,255, .3);
			border-radius: 1.1rem;
		}
		svg{
			fill: #E8E8E8;
			width: 1.7rem;
			height: 1.4rem;
			margin-right: 1.5rem;
		}
		@media (hover: hover) {
			&:hover{
				background: #1AA4E9;
			}
		}
		@media (hover: none) {
			&:active{
				background: #1AA4E9;
			}
		}
	}

	&--green{
		background: #7FFF6A;
		border-radius: 1.5rem;
		color: #1A4108;
		@media (hover: hover) {
			&:hover{
				background: #70E366;
				color: #1A4108;
			}
		}
		@media (hover: none) {
			&:active{
				background: #70E366;
				color: #1A4108;
			}
		}
	}

	&--red{
		background: #FF3232;
		border-radius: 1.5rem;
		color: #E8E8E8;
		@media (hover: hover) {
			&:hover{
				background: #D61D1D;
			}
		}
		@media (hover: none) {
			&:active{
				background: #D61D1D;
			}
		}
	}

	&--circle{
		outline: none;
		touch-action: manipulation;
		cursor: pointer;
		border: none;
		text-decoration: none;
		white-space: nowrap;
		user-select: none;
		appearance: none;
	
		width: 4.1rem;
		height: 4.1rem;
		border-radius: 50%;
		background: #F5F5F7;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .2s ease-in-out;
		svg{
			width: 1.9rem;
			height: 1.9rem;
			stroke: #221F20;
		}
		&:focus, &:active{
			outline: none;
			text-decoration: none;
		}
		@media (hover: hover) {
			&:hover{
				background: #D8D8D8;
			}
		}
		@media (hover: none) {
			&:active{
				background: #D8D8D8;
			}
		}
	}

	&--link{
		background: none;
		border: none;
		color: #86868B;
		@media (hover: hover) {
			&:hover{
				color: #454344;
			}
		}
		@media (hover: none) {
			&:active{
				color: #454344;
			}
		}
	}

	&--gray{
		background: #F5F5F7;
		border: 1px solid #D8D8D8;
		color: #221F20;
		@media (hover: hover) {
			&:hover{
				background: #E8E8E8;
				border: 1px solid #BCBCC5;
			}
		}
		@media (hover: none) {
			&:active{
				background: #E8E8E8;
				border: 1px solid #BCBCC5;
			}
		}
	}


	&--sm-line{
		display: inline-flex;
		border: .1rem solid #86868B;
		background: transparent;
		color: #221F20;
		width: 10.3rem;
		height: 3.6rem;
		border-radius: 1rem;
		font-size: 1.4rem;
		@media (hover: hover) {
			&:hover{
				border: .1rem solid #CACACA;
			}
			&:disabled, &.disabled{
				border: .1rem solid #CACACA;
				background: #CACACA;
				color: #E8E8E8;
			}
		}
		@media (hover: none) {
			&:active{
				border: .1rem solid #CACACA;
			}
			&:disabled:active, &.disabled:active{
				border: .1rem solid #CACACA;
				background: #CACACA;
				color: #E8E8E8;
			}
		}
	}

	&--close{
		position: relative;
		width: 20px;
		height: 20px;
		border-radius: 0;
		background: transparent;
		padding: 0;
		background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.125526 0.125526C0.292893 -0.0418419 0.56425 -0.0418419 0.731617 0.125526L4.5 3.89391L8.26838 0.125526C8.43575 -0.0418419 8.70711 -0.0418419 8.87447 0.125526C9.04184 0.292893 9.04184 0.56425 8.87447 0.731617L5.10609 4.5L8.87447 8.26838C9.04184 8.43575 9.04184 8.70711 8.87447 8.87447C8.70711 9.04184 8.43575 9.04184 8.26838 8.87447L4.5 5.10609L0.731617 8.87447C0.56425 9.04184 0.292893 9.04184 0.125526 8.87447C-0.0418419 8.70711 -0.0418419 8.43575 0.125526 8.26838L3.89391 4.5L0.125526 0.731617C-0.0418419 0.56425 -0.0418419 0.292893 0.125526 0.125526Z' fill='%2386868B'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-position: center center;
		@media (hover: hover) {
			&:hover{
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.125526 0.125526C0.292893 -0.0418419 0.56425 -0.0418419 0.731617 0.125526L4.5 3.89391L8.26838 0.125526C8.43575 -0.0418419 8.70711 -0.0418419 8.87447 0.125526C9.04184 0.292893 9.04184 0.56425 8.87447 0.731617L5.10609 4.5L8.87447 8.26838C9.04184 8.43575 9.04184 8.70711 8.87447 8.87447C8.70711 9.04184 8.43575 9.04184 8.26838 8.87447L4.5 5.10609L0.731617 8.87447C0.56425 9.04184 0.292893 9.04184 0.125526 8.87447C-0.0418419 8.70711 -0.0418419 8.43575 0.125526 8.26838L3.89391 4.5L0.125526 0.731617C-0.0418419 0.56425 -0.0418419 0.292893 0.125526 0.125526Z' fill='%23FF4747'/%3E%3C/svg%3E%0A");
			}
		}
		@media (hover: none) {
			&:active{
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='9' viewBox='0 0 9 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.125526 0.125526C0.292893 -0.0418419 0.56425 -0.0418419 0.731617 0.125526L4.5 3.89391L8.26838 0.125526C8.43575 -0.0418419 8.70711 -0.0418419 8.87447 0.125526C9.04184 0.292893 9.04184 0.56425 8.87447 0.731617L5.10609 4.5L8.87447 8.26838C9.04184 8.43575 9.04184 8.70711 8.87447 8.87447C8.70711 9.04184 8.43575 9.04184 8.26838 8.87447L4.5 5.10609L0.731617 8.87447C0.56425 9.04184 0.292893 9.04184 0.125526 8.87447C-0.0418419 8.70711 -0.0418419 8.43575 0.125526 8.26838L3.89391 4.5L0.125526 0.731617C-0.0418419 0.56425 -0.0418419 0.292893 0.125526 0.125526Z' fill='%23FF4747'/%3E%3C/svg%3E%0A");
			}
		}
	}

	&--up{
		width: 10rem;
		height: 2.8rem;
		background: rgba(188, 188, 197, 0.35);
		border-radius: 1.5rem;
		color: #454344;
		font-size: 1.4rem;
		line-height: 157%;
		@media (hover: hover) {
			&:hover{
				background: rgba(188, 188, 197, 0.5);
			}
		}
		@media (hover: none) {
			&:active{
				background: rgba(188, 188, 197, 0.5);
			}
		}
	}

}

span.btn{
	cursor: default;
}