.inp{
    background: #F5F5F7;
    border-radius: 15px;
    height: 56px;
    padding: 0 20px;
    border: 0;
    outline: none;
    width: 100%;

    font-size: 16px;
    line-height: 19px;
    color: #221F20;
}

// Checkbox
.checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 0;
    &-btn__inp, &__inp{
        width: 0;
        height: 0;
        opacity: 0;
        position: absolute;
        z-index: -1;
        visibility: hidden;
    }
    &__label{
        font-size: 14px;
        color: #000;
        margin-left: 5px;
    }
    &__frame{
        width: 24px;
        height: 24px;
        flex: 0 0 24px;
        background: #F5F5F7;
        border: 1px solid #D8D8D8;
        border-radius: 4px;
        transition: all .2s ease-in-out;
        &:before{
            content: "";    
            position: absolute;
            left: 0; right: 0;
            top: 0; bottom: 0;
            background: url(../img/checkbox.svg) no-repeat center center / 14px auto;
            transform: scale(0);
            transition: transform .3s ease-in-out;
        }
    }
    &:hover{
        .checkbox__frame{
            background: #DDDDDD;
            border: 1px solid #BCBCC5;
        }
        .checkbox__inp{
            &:checked{
                & + .checkbox__frame{
                        background: #454344;
                        border: 1px solid #454344;
                }
            }
        }
    }
    &__inp{
        &:checked{
            & + .checkbox__frame{
                position: relative;
                border: 1px solid #221F20;
                background-color: #221F20;
                animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
                &:before{
                    transform: scale(1);
                }
            }
        }
    }

    &-btn{
        cursor: pointer;
        margin-bottom: 0;
        &__frame{
            background: #F4F4F4;
            border: 1px solid #F4F4F4;
            border-radius: 12px;
            color: rgba(0, 0, 0, 0.75);
            font-size: 16px;
            height: 46px;
            display: flex;
            align-items: center;
            padding-left: 15px;
            padding-right: 15px;
            &:hover{
                background: #DEDEDE;
                color: rgba(0, 0, 0, 0.85);
            }
        }
        &__inp{
            &:checked{
                & + .checkbox-btn__frame{
                    border: 1px solid #000;
                }
            }
        }
    }

}


.lang-switch{
    position: relative;
    margin-left: 35px;
    display: flex;
    align-items: center;
    flex: 0 0 103px;
    width: 103px;
    height: 41px;
    background: #F5F5F7;
    border-radius: 8px;
    padding: 5px;
    
    input{
        display: none;
    }
}
.lang-slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}


.pbuy{
    .inp{
        border-radius: 1.5rem;
        height: 5.6rem;
        padding: 0 2rem;
    
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}