.bx-center{
    display: flex;
    justify-content: center;
    padding: 18.8rem 3rem 3rem;
    height: 100%;
    position: relative;
    @media only screen and (max-width: 1024px){
        padding: 248px 30px 30px;
        max-width: 606px;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (max-width: 380px){
        padding-left: 20px;
        padding-right: 20px;
    }
}

.fmc{
    max-width: 54.6rem;
    width: 100%;
    &--full{
        max-width: 100%;
        text-align: center;
    }
    .inp{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    &__title{
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.3rem;
        text-align: center;
        text-transform: uppercase;
        color: #221F20;
        margin-bottom: 6.5rem;
    }
    &__btns{
        margin-top: 3rem;
        .btn + .btn{
            margin-top: 1.5rem;
        }
    }
    &__inp{
        & + .fmc__inp{
            margin-top: 30px;
        }
    }
    &__timer, &__btitle{
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 7.2rem;
        line-height: 8.6rem;
        text-transform: uppercase;
    }
    &__sbtitle{
        font-style: normal;
        text-align: center;
        font-weight: 700;
        font-size: 6.4rem;
        line-height: 7.6rem;
        text-transform: uppercase;
    }
    &__desc{
        font-size: 1.8rem;
        line-height: 156%;
        text-align: center;
        margin-top: 2rem;
        padding-bottom: 1rem;
    }
    @media only screen and (max-width: 1024px){
        &__title{
            margin-bottom: 35px;
            font-size: 24px;
            line-height: 29px;
        }
        .inp{
            height: 50px;
            font-size: 14px;
        }
        &__timer, &__btitle{
            font-size: 64px;
            line-height: 76px;
        }
        &__sbtitle{
            font-weight: 600;
            font-size: 28px;
            line-height: 33px;
            text-transform: none;
        }
        &__desc{
            padding-bottom: 0;
            font-size: 16px;
        }
    }
    
}

.sg-page{
    &__back{
        display: none;
        position: absolute;
        left: 3rem; top: 5.4rem;
        width: 4.5rem;
        height: 4.5rem;
        background: #F5F5F7;
        z-index: 2;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        svg{
            width: 1.3rem;
            height: 1.4rem;
            stroke: #221F20;
        }
    }
    @media only screen and (max-width: 1024px){
        &__back{
            display: flex;
        }       
        header{
            display: none;
        }
        .livechat-link{
            display: flex;
        }
    }
    @media only screen and (max-width: 380px){
        &__back{
            left: 20px;
        }
    }
}


.ibx{
    border-radius: 1.5rem;
    padding: 1.8rem 2rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 156%;  
    margin-top: 2rem;
    b{
        font-weight: 500;
    }
    &--inline{
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5rem;
        padding-right: 5rem;
    }
    &--tbig{
        font-size: 2.4rem;
    }
    &--info{
        color: #564DBA;
        background-color: #F2E9FF;
    }
    &--476{
        max-width: 47.6rem;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (max-width: 1024px){
        &--inline{
            padding-left: 20px;
            padding-right: 20px;
        }
        &--tbig{
            font-size: 20px;
        }
    }
    @media only screen and (max-width: 380px){
        &--tbig{
            font-size: 16px;
        }
    }
}


.table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 .5rem;
    tr{       
        position: relative;
        border-radius: 1.5rem;
    }
    th, td{
        background-color: #F5F5F7;
        padding-top: 1.8rem;
        padding-bottom: 1.2rem;
        padding-left: 1rem;
        vertical-align: top;
        font-size: 1.6rem;
        &:first-child{
            border-radius: 1.5rem 0 0 1.5rem;
            padding-left: 2rem;
            &:before{
                border-radius: 1.5rem 0 0 1.5rem;
            }
        }
        &:last-child{
            border-radius: 0 1.5rem 1.5rem 0;
            padding-right: 1.2rem;
            &:before{
                border-radius: 0 1.5rem 1.5rem 0;
            }
        }
    }
    th{
        padding-top: .8rem;
        padding-bottom: .8rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: #86868B;
    }
    .td-btns{
        padding-top: 1.2rem;
        text-align: right;
        .btn + .btn{
            margin-left: .5rem;
        }
    }
    .td-date__in{
        ul{
            li{
                position: relative;
                padding-left: 1.8rem;
                padding-top: 1rem;
                &:before{
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3536 25.8536C16.5488 25.6583 16.5488 25.3417 16.3536 25.1464L13.1716 21.9645C12.9763 21.7692 12.6597 21.7692 12.4645 21.9645C12.2692 22.1597 12.2692 22.4763 12.4645 22.6716L15.2929 25.5L12.4645 28.3284C12.2692 28.5237 12.2692 28.8403 12.4645 29.0355C12.6597 29.2308 12.9763 29.2308 13.1716 29.0355L16.3536 25.8536ZM1.98094 20.5859L1.53544 20.8129L1.98094 20.5859ZM5.91409 24.5191L5.68709 24.9646L5.91409 24.5191ZM0.5 0V11.1H1.5V0H0.5ZM15.4 26H16V25H15.4V26ZM0.5 11.1C0.5 13.612 0.499611 15.526 0.624278 17.0519C0.749422 18.5836 1.00307 19.7681 1.53544 20.8129L2.42644 20.3589C1.97787 19.4785 1.74105 18.4403 1.62096 16.9705C1.50039 15.4948 1.5 13.6285 1.5 11.1H0.5ZM15.4 25C12.8715 25 11.0052 24.9996 9.52953 24.879C8.05969 24.759 7.02145 24.5221 6.14108 24.0736L5.68709 24.9646C6.73193 25.4969 7.91641 25.7506 9.4481 25.8757C10.974 26.0004 12.888 26 15.4 26V25ZM1.53544 20.8129C2.44624 22.6005 3.89955 24.0538 5.68709 24.9646L6.14108 24.0736C4.5417 23.2586 3.24137 21.9583 2.42644 20.3589L1.53544 20.8129Z' fill='%23BCBCC5'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -1rem;
                    top: -.3rem;
                    width: 1.7rem;
                    height: 3rem;
                }
            }
        }
    }
    .td-good__in{
        display: flex;
    }
   .td-good__list{
        .i{
            display: block;
            padding-top: 1rem;
        }
    }
    .td-extra-mob{
        display: none;
    }
    &--basket{
        td{
            vertical-align: middle;
            padding-top: 1.2rem;
            padding-bottom: 1.2rem;
        }
    }
    .td-guarant{
        width: 38.5rem;
        &__mob-info{
            width: 18px;
            height: 18px;
            fill: #86868B;
            margin-left: 10px;
            display: none;
        }
    }
    &--basket{
        .guarante{
            padding: 0.2rem;
            border-radius: .5rem;
            &__item{
                margin-right: 1.5rem;
            }
            &__label{
                padding: .4rem 1rem;
                svg{
                    width: 1.8rem;
                    height: 1.8rem;
                    margin-left: 1rem;
                }
                &--active{
                    border-radius: .5rem;
                }
            }
        }
    }

    .bg-cards__counter{
        position: relative;
        .btn{
            border-radius: .9rem; 
            width: 4rem;
            height: 4rem;
            flex: 0 0 4rem;
            svg{
                width: 1.3rem;
                height: 1.3rem;
            }
        }
        .inp{
            width: 4.9rem;
            height: 4rem;
            font-size: 1.6rem;
            border: 1px solid #86868B;
            border-radius: .9rem;
            padding-left: .4rem;
            padding-right: .4rem;
            margin-left: 1.3rem;
            margin-right: 1.3rem;
        }
    }

    @media only screen and (max-width: 1024px){
        display: block;
        border-spacing:0;
        thead{
            display: none;
        }
        tbody{
            display: block;
        }
        .td-date__in{
            ul{
                display: none;
            }
        }
        .td-good__list{
            display: none;
        }
        tr{
            display: flex;
            flex-flow: row wrap;
            background-color: #F5F5F7;
            border-radius: 30px;
            padding: 20px;
            margin-bottom: 20px;
        }
        td{
            background: none;
            padding: 0;
            font-size: 14px;
            &:first-child, &:last-child{
                border-radius: none;
                padding: 0;
            }
            &:before{
                content: attr(data-title);
                display: block;
                font-size: 14px;
                line-height: 17px;
                color: #86868B;
                padding-bottom: 7px;
            }
            .dtmark{
                font-size: 14px;
                padding-top: 4px;
                padding-bottom: 4px;
                &:before{
                    width: 12px;
                    height: 12px;
                }
            }
        }
        .td-date, .td-id{
            flex: 0 0 50%;
            max-width: 50%;
        }
        .td-good, .td-qrdots, .td-btns, .td-guarant{
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 20px;
            width: auto;
        }
        .td-count, .td-advanced{
            flex: 0 0 50%;
            max-width: 50%;
            margin-top: 20px;
        }
        .td-quantity{
            flex: 0 0 60%;
            max-width: 60%;
            margin-top: 20px;            
        }
        .td-price{
            flex: 0 0 40%;
            max-width: 40%;
            margin-top: 40px;
            text-align: right;
        }
        .td-good__in{
            display: flex;
            align-items: center;
        }
        .td-btns{
            .btn{
                width: 100%;
                height: 50px;
                font-size: 16px;
                border-radius: 15px;
                & + .btn{
                    margin-left: 0;
                    margin-top: 10px;
                }
            }
        }
        .td-extra-mob{
            display: block;
            margin-top: 10px;
            width: 100%;
            ul{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
            }
            .i1{
                position: relative;
                padding-left: 24px;
                padding-top: 10px;
                &:before{
                    content: '';
                    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 17 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3536 25.8536C16.5488 25.6583 16.5488 25.3417 16.3536 25.1464L13.1716 21.9645C12.9763 21.7692 12.6597 21.7692 12.4645 21.9645C12.2692 22.1597 12.2692 22.4763 12.4645 22.6716L15.2929 25.5L12.4645 28.3284C12.2692 28.5237 12.2692 28.8403 12.4645 29.0355C12.6597 29.2308 12.9763 29.2308 13.1716 29.0355L16.3536 25.8536ZM1.98094 20.5859L1.53544 20.8129L1.98094 20.5859ZM5.91409 24.5191L5.68709 24.9646L5.91409 24.5191ZM0.5 0V11.1H1.5V0H0.5ZM15.4 26H16V25H15.4V26ZM0.5 11.1C0.5 13.612 0.499611 15.526 0.624278 17.0519C0.749422 18.5836 1.00307 19.7681 1.53544 20.8129L2.42644 20.3589C1.97787 19.4785 1.74105 18.4403 1.62096 16.9705C1.50039 15.4948 1.5 13.6285 1.5 11.1H0.5ZM15.4 25C12.8715 25 11.0052 24.9996 9.52953 24.879C8.05969 24.759 7.02145 24.5221 6.14108 24.0736L5.68709 24.9646C6.73193 25.4969 7.91641 25.7506 9.4481 25.8757C10.974 26.0004 12.888 26 15.4 26V25ZM1.53544 20.8129C2.44624 22.6005 3.89955 24.0538 5.68709 24.9646L6.14108 24.0736C4.5417 23.2586 3.24137 21.9583 2.42644 20.3589L1.53544 20.8129Z' fill='%23BCBCC5'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    top: -3px;
                    width: 17px;
                    height: 30px;
                }
            }
        }
        .td-guarant{
            display: flex;
            align-items: center;
            flex-flow: row wrap;
            .guarante {
                width: 100%;
                &__item{
                    flex: 0 0 33.3333%;
                    max-width: 33.3333%;
                    margin-right: 0;
                    padding-right: 10px;
                    &:last-child{
                        padding-right: 0;
                    }
                }
                &__label{
                    justify-content: center;
                    text-align: center;
                }
            }
            &__mob-info{
                display: block;
                margin-right: 0;
                position: relative;
                top: 1px;
                margin-bottom: 9px;
            }
        }
        .bg-cards__counter{
            .inp{
                width: 44px;
                border: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }
        .td-close{
            position: absolute;
            top: 10px;
            right: 20px;
        }
        &--basket{
            .td-good{
                margin-top: 0;
            }
        }
    }
}

.qrdots{
    display: flex;
    align-items: center;
    min-height: 2.6rem;
    &__item{
        width: 1.4rem;
        height: 1.4rem;
        background: #CACACA;
        border-radius: .3rem;
        & + .qrdots__item{
            margin-left: .6rem;
        }
        &--orange{
            background: #FFAA47;
        }
        &--red{
            background: #FF4747;
        }
    }
}

.text-overflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

.dtmark{
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: .3rem 1rem;
    background: #221F20;
    border-radius: 1.6rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    padding-left: 1rem; 
    color: #F5F5F7;
    margin-left: .6rem;
    svg{
        width: 1.4rem;
        height: 1.4rem;
        fill: white;
        margin-right: .5rem;
    }
}

.guarante{
    display: inline-flex;
    align-items: center;
    padding: .2rem;
    background: #FFFFFF;
    border-radius: .5rem;
    &__item{
        margin-right: 1.5rem;
        &:last-child{
            margin-right: 0;
        }
    }
    &__label{
        display: flex;
        align-items: center;
        padding: .4rem 1rem;
        b{
            font-weight: 400;
        }
        svg{
            width: 1.8rem;
            height: 1.8rem;
            fill: #86868B;
            margin-left: 1rem;
            flex-shrink: 0;
        }
        &--active{
            background: #DDDDDD;
            border-radius: .5rem; 
        }
    }

    @media only screen and (max-width: 459px){
        &__label{
            svg{
                display: none;
            }
        }
    }

}

.bst{
    &-prop{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 2rem;
    }
    &-price{
        font-weight: 500;
        font-size: 3.2rem;
    }
    &-btn{
        width: 23.5rem;
        margin-left: 3.1rem;
        .only-mob{
            display: none;
            font-weight: 500;
            margin-left: 1rem;
            font-size: 1.8rem;
        }
    }
    @media only screen and (max-width: 1024px){
        &-prop{
            margin-top: 5px;
        }
        &-price{
            display: none;
        }
        &-btn{
            margin-left: 0;
            width: 100%;
            .only-mob{
                display: block;
            }
        }
    }
}

.mid{
    &-main{
        display: flex;
    }
    &-left{
        flex: 0 0 29.7rem;
        max-width: 29.7rem;
    }
    &-right{
        flex: 1 0 auto;
        max-width: calc(100% - 29.7rem);
        padding-left: 4rem;
    }
}

.mid-menu{
    &__link{
        color: #86868B;
        text-decoration: none;
        padding: 1rem;
        border-radius: .9rem;
        display: flex;
        align-items: center;
        transition: all .2s ease-in-out;
        &:hover{
            color: #221F20;
        }
        &._active{
            background: #EAEAEA;
            color: #221F20;
        }
    }
}