@import "./fonts";
@import "./vars";
@import "./reboot";

@import "./blocks/inputs.scss";
@import "./blocks/buttons.scss";

@import "./libs/owl.scss";
@import "./libs/select.scss";
@import "./libs/tippy.scss";
@import "./libs/multiselect.scss";



/* Default styles */
.wrapper{
    position: relative;
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: column;
    height: 100%;
	min-height: 100%;
    transform: translate3d(0, 0, 0);
}

body.menu--open{
    @media only screen and (max-width: 1024px){
        .livechat-link{
            display: flex;
        }
    }
}

.container{
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    @media only screen and (max-width: 1860px){
        padding-left: 50px;
        padding-right: 50px;
    }
    @media only screen and (max-width: 1720px){
        padding-left: 30px;
        padding-right: 30px;
    }
    @media only screen and (max-width: 1024px){
        max-width: 760px;
    }
    @media only screen and (max-width: 380px){
        padding-left: 20px;
        padding-right: 20px;
    }
}

header{
    flex: 0 0 auto;
    border-bottom: 1px solid #E8E8E8;
    @media only screen and (max-width: 1024px){
        border-bottom: 0;
    }
}

main{
    flex: 1 0 auto;
}

footer{
    flex: 0 0 auto;
}

.overflow-hidden{
    overflow: hidden;
}

/* Blocks */

.topline{
    padding-top: 28px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    position: relative;
    @media only screen and (max-width: 1024px){
        padding-top: 0;
        padding-bottom: 0;
    }
}

.search{
    position: relative;
    z-index: 3;
    height: 56px;
    flex: 0 1 599px;
    max-width: 599px;
    &__inp{
        padding-left: 60px;
    }
    &__icon{
        width: 18px;
        height: 18px;
        position: absolute;
        left: 22px;
        top: 0; bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    &__dropdown{
        display: none;
        position: absolute;
        background: #F5F5F7;
        box-shadow: 0px 0px 45px rgba(47, 47, 47, 0.16);
        border-radius: 15px;
        padding: 0 5px;
        top: 66px;
        left: 0; right: 0;
    }
    &__list{
        height: 100%;
        max-height: 430px;
        margin: 7px 0;
        padding: 8px 0;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: #EBEBEB;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb {
            background: #CACACA;
            border-radius: 4px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: #b2b6b9;
        }
    }
    &__item{
        color: #86868B;
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 35px;
        margin-bottom: 5px;
        margin-right: 5px;
        transition: all .2s ease-in-out;
        &:last-child{
            margin-bottom: 0;
        }
        svg{
            flex: 0 0 20px;
            flex-shrink: 0;
            stroke: #BCBCC5;
            width: 20px;
            height: 20px;
            margin-right: 6px;
            margin-left: 10px;
        }
        b{
            font-weight: 500;
        }
        &:hover{
            background: #fff;
            border-radius: 4px;
        }
    }
    &__lab{
        flex: 1 1 auto;
        transition: all .2s;
        padding: 8px 10px;
        span{
            color: #221F20;
        }
    }
    &__caption{
        display: flex;
        align-items: center;
        font-size: 14px;
        margin: 15px 10px 10px;
        color: #86868B;
    }
    @media only screen and (max-width: 1024px){
        flex:  0 0 100%;
        max-width: 100%;
        margin-top: 131px;
        height: 50px;
        &__inp{
            height: 50px;
        }
    }
}

.menu{
    flex: 1 0 auto;
    &__list{
        display: flex;
        align-items: center;
    }
    &__item{
        margin-left: 70px;
        &:first-child{
            margin-left: 60px;
        }
    }
    &__link{
        color: #86868B;
        transition: all .2s ease-in-out;
        text-decoration: none;
        &:hover{
            color: #221F20;
        }
    }
    @media only screen and (max-width: 1400px){
        &__item{
            margin-left: 40px;
            &:first-child{
                margin-left: 40px;
            }
        }
    }
    @media only screen and (max-width: 1024px){
        &--open{
            .menu{
                display: flex;
            }
        }
        margin-left: 0;
        position: fixed;
        top: 0; left: 0;
        right: 0; bottom: 0;
        background: #fff;
        z-index: 9;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__list{
            margin-top: 70px;
            width: 100%;
            max-width: 330px;
            flex-direction: column;
            overflow: auto;
        }
        &__item{
            margin-left: 0;
            margin-bottom: 10px;
            width: 100%;
            &.hide-mobile{
                display: none;
            }
            &:first-child{
                margin-left: 0;
            }
        }
        &__link{
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F5F5F7;
            border: 1px solid #D8D8D8;
            border-radius: 15px;
            width: 100%;
            height: 50px;
            &:hover{
                background: #E8E8E8;
                border: 1px solid #BCBCC5;
            }
        }
        .lang{
            position: relative;
            top: 0; left: 0; right: 0;
            margin-top: 15px;
            flex-basis: 41px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media only screen and (max-width: 380px){
        padding-left: 20px;
        padding-right: 20px;
        &__list{
            max-width: 100%;
        }
    }
}

.ubox{
    margin-left: auto;
    padding-left: 20px;
    &__id{
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        color: #454344;
        b{
            font-size: 20px;
            font-weight: 400;
            color: #86868B;
            margin-right: 14px;
        }
    }
    @media only screen and (max-width: 1280px){
        &__id{
            font-size: 16px;
            b{
                font-size: 18px;
                margin-right: 10px;
            }
        }
    }
    @media only screen and (max-width: 1024px){
        position: absolute;
        left:30px; top: 55px;
        margin-left: 0;
        padding-left: 0;
        &__id{
            background: #F5F5F7;
            border-radius: 8px;
            padding: 0 10px;
            height: 41px;
            font-size: 18px;
            b{
                font-size: 16px;
            }
        }
        .menu__link{
            color: #E8E8E8;
            background: #221F20;
            height: 41px;
            border-radius: 8px;
            padding: 0 14px;
            @media (hover: hover) {
                &:hover{
                    background: #454344;
                }
            }
            @media (hover: none) {
                &:active{
                    background: #454344;
                }
            }
        }
    }
    @media only screen and (max-width: 380px){
        left: 20px;
    }
}

.mobile-hamburger{
    position: absolute;
    z-index: 10;
    top: 55px; right: 30px;
    display: none;
    padding: 0;
    svg{
        width: 19px;
        height: 19px;
        &.ic-x{
            width: 13px;
            height: 11px;
        }
    }
    @media only screen and (max-width: 1024px){
        display: flex;
    }
    @media only screen and (max-width: 380px){
        right: 20px;
    }
}

.lang{
    user-select: none;
    margin-left: 35px;
    flex: 0 0 103px;
    width: 103px;
    height: 41px;
    background: #F5F5F7;
    border-radius: 8px;
    padding: 5px;
    position: relative;
    &__item{
        flex: 0 0 50%;
        max-width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 11px;
        justify-content: start;
        position: relative;
        z-index: 3;
        transition: .4s;
        color: #221F20;
        text-transform: uppercase;
        & + .lang__item{
            padding-left: 14px;
            color: #BCBCC5;
        }
    }
    &__slider{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: .4s;
        height: 41px;
        display: flex;
        align-items: center;
        padding-left: 5px;
        padding-right: 5px;
        &:before{
            content: '';
            background: #DDDDDD;
            border-radius: 5px; 
            width: 44px;
            height: 31px;
            transition: .4s;
        }
    }
    &__switch{
        cursor: pointer;
        width: 103px;
        height: 41px;
        padding: 5px;
        position: absolute;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        input:checked + .lang__slider:before {
            transform: translateX(49px);
        }
        input:checked + .lang__slider + .lang__item {
            color: #BCBCC5;
            &  + .lang__item{
                color: #221F20;
            }
        }
    }
    &--mobile{
        display: none;
    }
    @media only screen and (max-width: 1024px){
        display: none;
        &--mobile{
            display: flex;
        }
        position: absolute;
        left:30px; top: 55px;
        margin-left: 0;
    }
    @media only screen and (max-width: 380px){
        left: 20px;
    }
}

.main{
    &-wrapper{
        display: flex;
        margin-top: 50px;
        padding-bottom: 50px;
    }
    &-middle{
        flex: 1 0 auto;
        max-width: calc(100% - 440px);
    }
    &-right{
        flex: 0 0 400px;
        max-width: 400px;
        margin-left: 40px;
        position: relative;
    }
    @media only screen and (max-width: 1720px){
        &-right{
            flex: 0 0 350px;
            max-width: 350px;
            margin-left: 30px;
        }
        &-middle{
            flex: 1 0 auto;
            max-width: calc(100% - 380px);
        }
    }
    @media only screen and (max-width: 1024px){
        &-wrapper{
            flex-direction: column;
        }
        &-middle{
            flex: 0 0 100%;
            max-width: 100%;
        }
        &-right{
            flex: 0 0 100%;
            max-width: 100%;
            order: -1;
            margin-bottom: 40px;
            margin-left: 0;
        }
    }
    @media only screen and (max-width: 768px){
        &-wrapper{
            padding-bottom: 90px;
        }
    }
}

.usprops{
    &__balance{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        height: 60px;
        span{
            font-size: 20px;
            line-height: 24px;
            color: #86868B;
        }
        strong{
            font-weight: 700;
            font-size: 24px;
            line-height: 29px;
            color: #221F20;
        }
    }
    &__deposit{
        position: relative;
        margin-bottom: 20px;
        .im-extra{
            margin-top: auto;
            margin-bottom: auto;
            top: 0; bottom: 0;
            right: 20px;
        }
        .inp{
            padding-right: 90px;
            height: 60px;
        }
    }
    &__btns{
        .btn{
            width: 100%;
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    &--lock{
        background: rgba(255, 255, 255, 0.01);
        filter: blur(7.6px);
        border-radius: 16px;
        user-select: none;
        pointer-events: none;
    }
    @media only screen and (max-width: 1024px){
        &__balance{
            height: 50px;
        }
        &__deposit{
            .inp{
                height: 50px;
            }
        }
    }
}

.im-extra{
    display: flex;
    align-items: center;
    padding: 0 9px;
    position: absolute;
    width: 60px;
    height: 36px;
    background: #F2E9FF;
    border-radius: 6px;

    line-height: 28px;
    color: #564DBA;
}

.title{
    color: #000000;
    &--sm{
        font-weight: 500;
        font-size: 20px;
    }
}

.sm-card{
    background: #F5F5F7;
    border-radius: 43px;
    padding: 46px 20px 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 190px;
    position: relative;
    transition: all .3s;
    @media (hover: hover) {
        &:hover{
            filter: drop-shadow(0px 0px 12px rgba(47, 47, 47, 0.16));
        }
    }
    @media (hover: none) {
        &:active{
            filter: drop-shadow(0px 0px 9px rgba(47, 47, 47, 0.16));
        }
    }
    &__caption{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        a{
            color: #564DBA;
        }
    }
    &__img{
        max-width: 100%;
        height: auto;
    }
    &__props{
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    &__title{
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
        color: #86868B;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__price{
        margin-top: 5px;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #221F20;
    }
    &__carousel{
        position: relative;
        .owl-stage-outer{
            padding: 30px 20px 30px;
            margin: -30px -20px -30px;
        }
    }
    &__prevbtn, &__nextbtn{
        outline: none;
		touch-action: manipulation;
		cursor: pointer;
		border: none;
		text-decoration: none;
		white-space: nowrap;
		user-select: none;
		appearance: none;

        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        padding: 0;
	
		width: 46px;
		height: 46px;
		border-radius: 50%;
		background: rgba(188, 188, 197, 0.35);
		display: flex;
		align-items: center;
		justify-content: center;
		transition: .2s ease-in-out;
		svg{
			width: 9px;
			height: 16px;
			fill: #BCBCC5;
            transition: all .2s ease-in-out;
		}
		&:focus, &:active{
			outline: none;
			text-decoration: none;
		}
		&:hover{
            background: #E5E5EB;
            svg{
                fill: #86868B;
            }
		}
    }
    &__prevbtn{
        left: -23px;
        padding-right: 1px;
    }
    &__nextbtn{
        right: -23px;
        padding-left: 1px;
    }
    &__mobile-nextbtn{
        display: none;
        outline: none;
		touch-action: manipulation;
		cursor: pointer;
		border: none;
		text-decoration: none;
		white-space: nowrap;
		user-select: none;
		appearance: none;
        z-index: 2;
        transition: all .2s ease-in-out;
    }
    &.cat-link{
        text-align: center;
        display: none;

        svg{
            width: 12px;
            height: 19px;
            fill: #BCBCC5;
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            margin: auto;
            transition: all .2s ease-in-out;
        }
        &:focus, &:active{
            outline: none;
            text-decoration: none;
        }
		@media (hover: hover) {
            &:hover{
                background: #E5E5EB;
                svg{
                    fill: #86868B;
                }
            }
		}
		@media (hover: none) {
			&:active{
                background: #E5E5EB;
                svg{
                    fill: #86868B;
                }
			}
		}
    }
    @media only screen and (max-width: 720px){
        width: 210px;
        &__prevbtn, &__nextbtn{
            display: none;
        }
        &.cat-link{
            min-width: 40px;
            display: flex;
            width: calc(100vw - 520px);
        }
        &__carousel{
            .owl-stage-outer{
                padding: 10px;
                margin: -10px;
            }
            .smc-scrollbar{
                position: absolute;
                z-index: 2;
                bottom: -15px;
                left: 0;
                display: block;
                width: 100%;
                overflow: hidden;
            }
        }
    }
    @media only screen and (max-width: 500px){
        width: 200px;
        &.cat-link{
            width: calc(100vw - 270px);
        }
    }
    @media only screen and (max-width: 380px){
        &.cat-link{
            width: calc(100vw - 250px);
        }
    }
}

.smc-scrollbar{
    display: none;
    position: relative;
    background:  #E8E8E8;
    height: 2px;
    margin-top: 15px;
}
.smc-scroll{
    position: absolute;
    background: #221F20;
    height: 2px;
    left: 0;
}

.section-sm-cards{
    margin-bottom: 40px;
}

.cgfilters{
    margin-top: 34px;
    &__caption{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        svg{
            fill: #86868B;
            width: 18px;
            height: 12px;
            margin-right: 10px;
        }
        .i{
            display: flex;
            align-items: center;
        }
        a{
            color: #564dba;
            text-decoration: none;
        }
    }
    &__label{
        color: #86868B;
    }
    &__group{
        & + .cgfilters__group{
            margin-top: 10px;
        }
    }
    &__checkbox{
        display: flex;
        align-items: center;
    }
    .checkbox-label{
        margin-left: 10px;
    }
    .inp{
        height: 50px;
    }
    .select-selected{
        height: 50px;
    }
    @media only screen and (max-width: 1024px){
        .inp{
            height: 40px;
            font-size: 14px;
            border-radius: 11px;
        }
        .select-selected{
            height: 40px;
            font-size: 14px;
            border-radius: 11px;
        }
        .checkbox__frame{
            width: 20px;
            height: 20px;
            flex-basis: 20px;
        }
    }
}

.cg-range{ 
    overflow: hidden;   
    &__actions{       
        position: relative;
        height: 17px;
        margin-top: 27px;
        margin-bottom: 5px;
    }
    &__sliderout{
        position: relative;
        height: 4px;
        top: -4px;
        background: #F5F5F7;
        border-radius: 5px;
    }
    &__sliderin{
        position: absolute;
        height: 100%;
        left: 25%;
        right: 15%;
        background: #B2ABFF;
        border-radius: 5px;
    }
    &__itms{
        input{
            position: absolute;
            width: 100%;
            height: 5px;
            background: none;
            top: -5px;
            pointer-events: none;
            cursor: pointer;
            -webkit-appearance: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
            &::-webkit-slider-thumb {
                height: 17px;
                width: 17px;
                border-radius: 70%;
                background: #564DBA;
                pointer-events: auto;
                -webkit-appearance: none;
            }
        }
    }
    &__inputs{
        display: flex;
        justify-content: space-between;
    }
    &__inp{
        position: relative;
        flex: 0 0 calc(50% - 12px);
        max-width: calc(50% - 12px);
        input{
            padding-left: 63px;
            font-size: 18px;
        }
        span{
            font-weight: 600;
            font-size: 20px;
            color: #BCBCC5;
            position: absolute;
            top: 0; bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
    }
    @media only screen and (max-width: 1024px){
        &__itms{
            input::-webkit-slider-thumb {
                height: 27px;
                width: 27px;
            }
        }
        &__inputs{
            margin-top: 15px;
        }
        &__inp{
            span{
                font-size: 14px;
            }
        }
    }
}

.inote{
    background: #F2E9FF;
    border-radius: 15px;
    padding: 11px 20px;
    margin-top: 15px;
    color: #564DBA;
}

.main-caption{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    line-height: 1.2;
    h1{
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #221F20;
    }
    @media only screen and (max-width: 1024px){
        h1{
            font-size: 24px;
            line-height: 1.5;
        }
    }
}

.back-btn{
    display: flex;
    width: 38px;
    height: 38px;
    flex: 0 0 38px;
    margin-right: 15px;
    align-items: center;
    background: #F5F5F7;
    border-radius: 9px;
    padding-left: 13px;
    transition: all .2s ease-in-out;
    &:hover{
        background: #D8D8D8;
    }
    svg{
        width: 9px;
        height: 18px;
        fill: #BCBCC5;
    }
}

.bg-cards{
    display: flex;
    flex-flow: row wrap;
    margin-left: -20px;
    margin-right: -20px;
    &__col{
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
        padding: 0 20px 40px;
    }
    &__item{
        position: relative;
        background: #F5F5F7;
        border-radius: 57px;
        padding-bottom: 45px;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: all .3s;
    }
    &__discount{
        position: absolute;
        width: 71px;
        height: 55px;
        background: url(../img/bg-discount.svg) no-repeat 0 0 / contain;
        left: -11px;
        top: 45px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        padding-top: 7px;
        

    }
    &__head{
        flex: 0 0 auto;
        padding: 14px 27px 0;
        img{
            max-width: 100%;
            height: auto;
        }
        .owl-dots{
            display: flex;
            align-items: center;
            justify-content: center;
            gap:5px;
            margin-left: 15px;
            margin-right: 15px;
            .owl-dot{
                height: 4px;
                border-radius: 6px;
                background: #fff;
                flex-grow: 1;
                max-width: 80px;
                &.active{
                    box-shadow: 0px 1px 2.3px rgba(134, 134, 139, 0.3);
                }
                &:hover, &:active, &:focus{
                    outline: none;
                }
            }
        }
    }
    &__body{
        padding: 0 45px;
        margin-top: 15px;
        flex: 1 0 auto;
    }
    &__caption{
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        overflow: hidden;
        .cmark{
            margin-right: 10px;
        }
        h4{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &__desc{
        margin-top: 15px;
        color: #86868B;
    }
    &__stock{
        color: #564DBA;
        margin-top: 18px;
        &._no{
            color: #FF4747;
        }
    }
    &__props{
        margin-top: 10px;
        display: flex;
        align-items: center;
        .mark-info{
            margin-left: 7px;
        }
    }
    &__counter{
        display: flex;
        .btn{
            background: #E8E8E8;
            border-radius: 9px; 
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
            &:hover{
                background: #D8D8D8;
            }
            svg{
                width: 13px;
                height: 13px;
                fill: #221F20;
            }
            &:disabled, &.disabled{
                svg{
                    fill: #BCBCC5;
                }
            }
        }
        .inp{
            width: 49px;
            height: 40px;
            border: 1px solid #86868B;
            border-radius: 9px;
            background: transparent;
            font-weight: 500;
            text-align: center;
            padding-left: 4px;
            padding-right: 4px;
            margin-left: 13px;
            margin-right: 13px;
        }
    }
    &__price{
        margin-left: auto;
        padding-left: 3px;
        font-weight: 500;
        font-size: 32px;
        line-height: 38px;
        color: #221F20;
        position: relative;
        &._new{
            background: #FF3232;
            padding: 5px 9px;
            border-radius: 9px;
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
            color: #fff;
        }
        ._old{
            height:23px;
            padding-bottom: 4px;
            position: absolute;
            left: 0; right: 0;
            top: 0;
            transform: translateY(-100%);
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            text-decoration-line: line-through;
            color: #BCBCC5;
        }
    }
    &__foot{
        padding: 0 45px;
        & > .btn{
            width: 100%;
            margin-top: 20px;
        }
    }
    &__hovers{
        position: relative;
        span{
            position: absolute;
            left: 0; right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: 4px;
            width: 6px;
            height: 4px;
            &:after, &:before{
                content: '';
                position: absolute;
                width: 80px;
                height: 4px;
                background: #FFFFFF;
                transition: all .3s ease;
            }
            &:after{
                left: 6px;
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 0px 1px 2.3px rgba(134, 134, 139, 0);
            }
            &:before{
                right: 6px;
                box-shadow: 0px 1px 2.3px rgba(134, 134, 139, 0.3);
                border-radius: 6px;
            }
        }
        &:before{
            left: 162px;
        }
        img{
            transition: opacity .3s ease;
        }
        .i-hover{
            opacity: 0;
            visibility: hidden;
            position: absolute;
            left: 0; top: 0;
        }
        &:hover{
            img{
                opacity: 0;
            }
            .i-hover{
                opacity: 1;
                visibility: visible;
            }
            span:after{
                box-shadow: 0px 1px 2.3px rgba(134, 134, 139, 0.3);
                border-radius: 6px;
            }
            span:before{
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 0px 1px 2.3px rgba(134, 134, 139, 0);
            }
        }
    }

    @media only screen and (max-width: 1860px){
        margin-left: -15px;
        margin-right: -15px;
        &__col{
            padding: 0 15px 35px;
        }
        &__body, &__foot{
            padding: 0 35px;
        }
    }

    @media only screen and (max-width: 1720px){
        margin-left: -10px;
        margin-right: -10px;
        &__col{
            padding: 0 10px 35px;
        }
        &__body, &__foot{
            padding: 0 35px;
        }
        &__price{
            font-size: 24px;
            &._new{
                padding: 3px 5px;
            }
        }
        &__item{
            border-radius: 43px;
        }
    }

    @media only screen and (max-width: 1580px){
        margin-left: -10px;
        margin-right: -10px;
        &__col{
            padding: 0 10px 35px;
        }
        &__body, &__foot{
            padding: 0 35px;
        }
        &__price{
            font-size: 24px;
            line-height: 29px;
        }
        &__counter{
            .btn{
                width: 35px;
                height: 35px;
                flex: 0 0 35px;
            }
            .inp{
                width: 43px;
                height: 35px;
                padding-left: 2px;
                padding-right: 2px;
                margin-left: 7px;
                margin-right: 7px;
            }
        }
        &__props{
            .mark-info{
                width: 35px;
                height: 35px;
            }
        }
    }

    @media only screen and (max-width: 1380px){
        &__col{
            flex: 0 0 50%;
            max-width: 50%;
        }
        &__body, &__foot{
            padding: 0 35px;
        }
    }

    @media only screen and (max-width: 1024px){
        &__item{
            border-radius: 40px;
        }
        &__price{
            ._old{
                display: none;
            }
        }
    }

    @media only screen and (max-width: 700px){
        margin-left: 0;
        margin-right: 0;
        &__col{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 0 0 40px;
        }
        &__body, &__foot{
            padding: 0 25px;
        }
    }
    @media only screen and (max-width: 340px){
        &__price{
            font-size: 20px;
            line-height: 25px;
            &._new{
                border-radius: 5px;
            }
            ._old{
                height: 60%;
            }
        }
    }
}


.cmark{
    background: #FFE7D6;
    border-radius: 16px;
    padding: 3px 10px;
    font-size: 14px;
    line-height: 17px;
    color: #992B2B;
    white-space: nowrap;
    flex-shrink: 0;
}

.mark-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8E8E8;
    border-radius: 9px; 
    width: 40px;
    height: 40px;
    transition: all .2s ease-in-out;
    svg{
        fill: #86868B;
        width: 19px;
        height: 19px;
        transition: all .2s ease-in-out;
    }
    &:hover{
        background: #D8D8D8;
        svg{
            fill: #454344;
        }
    }
}

[data-tippy-content]{
    cursor: help;
}

.basket{
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 45px rgba(47, 47, 47, 0.16);
    border-radius: 25px 25px 0px 0px;
    padding: 30px;
    position: fixed;
    right: calc(((100vw - 1920px) / 2) + 100px);
    bottom: -100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, bottom 0.4s ease;
    &__close{
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px; top: 15px;
        cursor: pointer;
        svg{
            width: 15px;
            height: 15px;
            stroke: #86868B;
            transition: all .2s ease-in-out;
        }
        &:hover{
            svg{
                stroke: #FF4747;
            }
        }
    }
    &__caption{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #221F20;
    }
    &__body{
        padding: 25px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        strong{
            font-size: 24px;
            font-weight: 500;
        }
    }
    &--show{
        visibility: visible;
        opacity: 1;
        bottom: 0;
    }
    @media only screen and (max-width: 1920px){
        right: 100px;
    }
    @media only screen and (max-width: 1860px){
        right: 50px;
    }
    @media only screen and (max-width: 1720px){
        width: 350px;
        right: 30px;
    }
    @media only screen and (max-width: 1560px){

    }
    @media only screen and (max-width: 1024px){
        left: 30px;
        right: 30px;
        width: auto;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    @media only screen and (max-width: 380px){
        right: 20px;
        left: 20px;
    }
}


.usprops-lock{
    background: #F5F5F7;
    border: 1px solid #D8D8D8;
    box-shadow: 0px 9px 45px rgba(47, 47, 47, 0.3);
    border-radius: 20px;
    padding: 37px 20px 25px;
    text-align: center;
    color: #86868B;

    position: absolute;
    width: 286px;
    left: 0; right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 27px;
    z-index: 2;
    &__icon{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F2E9FF;
        border-radius: 15px;
        width: 64px;
        height: 64px;
        margin-left: auto;
        margin-right: auto;
        svg{
            width: 28px;
            height: 28px;
            fill:#564DBA;
        }
    }
    &__desc{
        padding: 20px 15px 25px;
    }
}

.flex-between{
    display: flex;
    justify-content: space-between;
    min-width: 280px;
    span{
        color: #86868B;
    }
    b{
        font-weight: 400;
    }
    & + p{
        margin-top: 5px;
    }
}

.abs-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    z-index: 1;
    color: transparent;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
  }

  .livechat-link{
    width: 73px;
    height: 72px;
    display: flex;
    padding-top: 22px;
    justify-content: center;
    text-decoration: none;
    color: #454344;
    position: fixed;
    z-index: 7;
    bottom: 100px;
    right: calc(((100vw - 1920px) / 2) + 100px);
    transition: all .3s;
    background: url('data:image/svg+xml,<svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M72.5 19C72.5 8.78273 64.2173 0.5 54 0.5H19C8.78274 0.5 0.5 8.78273 0.5 19V45.5C0.5 55.7173 8.78274 64 19 64H64.2964C67.8106 64 70.9209 65.9625 72.5 68.9162V59.5V19Z" fill="%23F5F5F7" stroke="%23E8E8E8"/></svg>');
    svg{
        width: 26px;
        height: 24px;
        stroke: #454344;
        fill: none; 
        transition: all .3s;
    }
    @media (hover: hover) {
        &:hover{
            background: url('data:image/svg+xml,<svg width="73" height="72" viewBox="0 0 73 72" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M73 19C73 8.50659 64.4934 0 54 0H19C8.50659 0 0 8.50659 0 19V45.5C0 55.9934 8.50659 64.5 19 64.5H60.5074C65.1884 64.5 69.5596 66.8394 72.1561 70.7342L73 72V59.5V19Z" fill="%23221F20"/></svg>');
            svg{
                stroke: #fff;
            }
        }
    }
    @media only screen and (max-width: 1920px){
        right: 100px;
    }
    @media only screen and (max-width: 1860px){
        right: 50px;
    }
    @media only screen and (max-width: 1720px){
        right: 30px;
    }
    @media only screen and (max-width: 1024px){
        display: none;
        background: url('data:image/svg+xml,<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M33 0.5H19C8.78273 0.5 0.5 8.78273 0.5 19V26.9062C0.5 37.1235 8.78273 45.4062 19 45.4062H40.6137C44.8428 45.4062 48.8224 47.291 51.5 50.4971V41.8438V19C51.5 8.78273 43.2173 0.5 33 0.5Z" fill="%23F5F5F7" stroke="%23E8E8E8"/></svg>');
        width: 52px;
        height: 52px;
        right: 30px;
        bottom: 33px;
        padding-top: 16px;
        svg{
            width: 16px;
            height: 15px;
        }
        &:active{
            background: url('data:image/svg+xml,<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M52 19C52 8.50659 43.4934 0 33 0H19C8.50659 0 0 8.50659 0 19V26.9062C0 37.3997 8.50659 45.9062 19 45.9062H40.6137C45.1892 45.9062 49.462 48.193 52 52V52V41.8438V19Z" fill="%23E8E8E8"/></svg>');
            svg{
                stroke: #221F20;
            }
        }
    }
    @media only screen and (max-width: 768px){
        bottom: 30px;
    }
    @media only screen and (max-width: 380px){
        right: 20px;
    }
  }